
*{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Links{
  display: flex;
  justify-content: space-evenly;
}
.search{
  background-color: blue;
  display: flex;
  justify-content:center;
 gap:10px;
 height: 150px;
 align-items: center;
}
.SearchArea{
  height: 50px;
  width:50%;
  border-radius: 5px;
}
.Button{
   height: 25px;
   width: 100px;
   background-color: blue;
   color: yellow;
   font-size: 20px;
   margin-top: 15px;
   border:none;
   outline: none;
}
.Button:hover{
  background-color:rgb(255, 255, 255);
  color:blue;
  border:none;
  outline: none;
}